@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  padding-top: 1em;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #333;
}

code, pre {
  background: #f5f7f9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
  border-left: 2px solid #69c;
  border-bottom: 1px solid #d8dee9;
}

a {
  color: #e81c4f;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
    vertical-style: middle;
    border-style: none;
}

table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

th {
    text-align: inherit;
}

table td, table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

footer {
  margin-top: 50px;
  padding: 50px;
  border-top: 1px solid #d8dee9;
  text-align: center;
}
